# Redirects for legacy content
Redirect 301 /~amie http://cdbaby.com/cd/sassano
Redirect 301 /gottung http://gottung.net/
Redirect 301 /files http://files.nlsmith.com/
Redirect 301 /contact.php /contact/
Redirect 301 /console /projects/console
Redirect 301 /projects/prototype-asp) /projects/prototype-asp
Redirect 301 /downloads/nathan_smith_resume.pdf /resume.html
Redirect 301 /downloads/nathan_smith_resume.pdf /resume.html
Redirect 301 /vim/ http://dailyvim.tumblr.com

# Index goes to /projects/index
Redirect 301 /index.html /projects/
Redirect 301 /index.php /projects/
Redirect 301 /blog /projects/
Redirect 301 /old /projects/

# College Football widget
Redirect 301 /collegefootball.php https://github.com/smith/college-football-widget/
Redirect 301 /collegefootball https://github.com/smith/college-football-widget/
Redirect 301 /projects/college-football/ https://github.com/smith/college-football-widget/
Redirect 301 /CollegeFootball.wdgt.zip https://github.com/smith/college-football-widget/blob/master/CollegeFootball.wdgt.zip?raw=true
Redirect 301 /downloads/CollegeFootball.wdgt.zip https://github.com/smith/college-football-widget/blob/master/CollegeFootball.wdgt.zip?raw=true

# Talks
Redirect 301 /front-end-engineering https://docs.google.com/presentation/d/1lD-iEMWXPaLxeaokKKa38C8yxZ28rwdlD2QEuyUGgzs/edit

Redirect 301 /front-end-tools-workshop https://docs.google.com/presentation/d/1s2axZcIi0OYvHkkIeIA-JEYivRerawWJ6qVZCXgBvnA/edit
Redirect 301 /front-end-tools-workshop-map https://coggle.it/diagram/51b0d8e6c3ee0a4a05000246/b33e6a3e1a6d79c33876f44aab8816011c8051ff94d8ac02309e8ed19e4780a2

# Links for me
Redirect 301 /office https://chef.zoom.us/j/3193390466
