---
section: Contact
title:
---

<div id="contact">
  <p>Please drop me a note. Need a web page? Let me know. Comments about the site? I would enjoy reading them. Questions about anything? I&#8217;ll try and answer!</p>
  <form action="http://free.allforms.mailjol.net/u/992feef7.php" method="post">
    <div>
      <label for="name">* Name:</label>
      <input type="text" name="name" id="name" class="required" required />
    </div>
    <div>
      <label for="email">* Email:</label>
      <input type="email" name="email" id="email" class="required email" required />
    </div>
    <div>
      <label for="website">Website:</label>
      <input type="url" name="website" id="website" class="url" />
    </div>
    <div>
      <label for="message">Message:</label>
      <textarea name="message" id="message" cols="35" rows="8" ></textarea>
    </div>
    <div class="submit"><input type="submit" value="Submit" /></div>
  </form>
</div>
