---
title: NL Smith
---
<p>This is the web site of Nathan Lloyd Smith.</p>
<p>Read <a href="/resume/">my résumé</a>.
<p>
  Open source software I'm working on, contributing to, or talking about can be
  found on <a href="https://github.com/smith">GitHub</a>.
</p>
<p>
  Find me on Twitter <a href="https://twitter.com/nlsmith">@nlsmith</a>.
</p>
<p>
  Email me at <a href="mailto:smith@nlsmith.com">smith@nlsmith.com</a>.
</p>
